<header class="header">

    <nav class="header_nav">
      <ul>
        <li>
            <a href="/" class="">Home</a>
        </li>
        <li>
            <a href="/movies" class="">Movies</a>
        </li>
        <li>
            <a href="/users" class="">Users</a>
        </li>
        <li>
            <a href="/comments" class="">Comments</a>
        </li>
      </ul>
    </nav>

    <div class="header_button">
        <button class="searchBtn" aria-expanded="false">Search</button>
    </div>

</header>