<header class="header">

    <nav class="header_nav">
      <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/users">Users</a>
        </li>
        <li>
            <a href="/comments">Comments</a>
        </li>
        <li>
            <a href="/movies">Movies</a>
        </li>
      </ul>
    </nav>

</header>