<header class="header">
    <!-- <a href="/" class="header_logo">NodeJs</a> -->

    <nav class="header_nav">
      <ul>
        <li>
            <a href="/movies" class="">Movies</a>
        </li>
        <li>
            <a href="/users" class="">Users</a>
        </li>
        <li>
            <a href="/comments" class="">Comments</a>
        </li>
      </ul>
    </nav>

    <div class="header_button">
        <button class="searchBtn" aria-expanded="false">Search</button>
            <!-- <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmLns="http://www.w3.org/2000/svg">
                <path d="M7.79"
            </svg> -->
        
    </div>

</header>