<div class="comment_title">
  <h2>Comments</h2>
  <a href="http://localhost:5050">+ Add New Comment</a>
</div>

<ul class="comment_lists">
  <% results.forEach(comment => { %>
    <li>
      <a href="/comments/<%= comment._id %>" style="display:flex; text-decoration:none;">
        <%= comment.name %> &nearr;
      </a>

      <div class="comment_lists_controls">
        <a href="/comments/<%= comment._id %>" class="btn">View</a>
      </div>
    </li>
  <% }) %>
</ul>