<ul>
  <h3>A list of 20 names who commented</h3>
  <p><b>:</b> Retrieve a comment data with a click of each name.</p>
  <% results.forEach(comment => { %>
    <li>
        <a href="/comments/<%= comment._id %>" style="display:flex; list-style-type:none; text-decoration:none;">
          <span><%= comment.name %></span>
        </a>
    </li>
  <% }) %>
</ul>