<div class="author">
    
</div>

<section class="articles" style="display:flex; flex-direction:row;">
  <div style="margin-left:100px;">
    <h2 class="articles_heading" style="font-weight:400;"><b>Create a user</b></h2>
    
    <form action="/users" method="POST">

      <label for="name"><b>Name</b></label><br>
      <input type="text" name="name" placeholder="Enter name"><br>
    
      <label for="email"><b>Email</b></label><br>
      <input type="email" name="email" placeholder="Enter email"><br>
    
      <input type="submit" class="btn" value="Add">
    </form>
  </div>

  <div style="margin-left:100px;">
    <h2 class="articles_heading" style="font-weight:400;"><b>Create a comment</b></h2>
 
    <form action="/comments" method="POST">

      <label for="name"><b>Name</b></label><br>
      <input type="text" name="name" placeholder="Enter name"><br>
    
      <label for="email"><b>Email</b></label><br>
      <input type="email" name="email" placeholder="Enter email"><br>
    
      <label for="movie_id"><b>Movie ID</b></label><br>
      <input type="text" name="movie_id" placeholder="Enter movie_id"><br>

      <label for="text"><b>Text</b></label><br>
      <textarea id="text" name="text" rows="3" cols="20" placeholder="Enter comment"></textarea><br>

      <input type="submit" class="btn" value="Add">
    </form>
  </div>
</section> 