<!-- <div class="author">
    <h1 class="author_heading">Hi</h1>
    <p class="author_body">Movies Users Comments</p>
</div>

<section class="articles">
    <h2 class="articles_heading" style="font-weight:400;">Movies</h2>

    <ul class="article_ul" style="list-style-type:none; display:flex; flex-direction:column;">
      <% results.forEach(movie => { %> 
        <li>
          <a href="/movies/<%= movie._id %>" style="display:flex; justify-content:space-between; list-style-type:none; text-decoration:none;">
            <span><%= movie.title %></span>
          </a>
        </li>
      <% }) %>
    </ul>

    <a href="#" class="pagination">&lt; View Latest Movies</a>
</section> -->