<div class="movie_title">
  <h2>Movies</h2>
  <a href="http://localhost:5050">+ Add New Movie</a>
</div>

<ul class="movie_lists">
  <% results.forEach(movie => { %>
    <li>
      <a href="/movies/<%= movie._id %>" style="display:flex; text-decoration:none;">
        <%= movie.title %> &nearr;
      </a>
      
      <div class="movie_lists_controls">
        <a href="/movies/<%= movie._id %>" class="btn">View</a>
      </div>
    </li>
  <% }) %>
</ul>