<div class="user_title">
  <h2>Users</h2>
  <a href="http://localhost:5050">+ Add New User</a>
</div>

<ul class="user_lists">
  <% results.forEach(user => { %>
    <li>
      <a href="/users/<%= user._id %>" style="display:flex; text-decoration:none;">
        <%= user.name %> &nearr;
      </a>
      
      <div class="user_lists_controls">
        <a href="/users/<%= user._id %>" class="btn">View</a>
      </div>
    </li>
  <% }) %>
</ul>


