@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

body li {
    list-style-type: none;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 10px;
}

.main {
   padding: 20px 0; 
}

.btn {
    background-color: black;
    border-radius: 10px;
    color: white;
    
    padding: 5px 20px;
    text-decoration: none;
    margin: 4px 0px;
    cursor: pointer;
}

.btn_delete {
    background-color: rgb(243, 35, 35);
    border-color: rgb(243, 35, 35);
    border-radius: 10px;
    color: white;

    padding: 5px 20px;
    text-decoration: none;
    margin: 4px 0px;
    cursor: pointer;
}

input[type="text"],
input[type="email"],
textarea {
    font-family: "Poppins", sans-serif;
    /* display: block; */
    box-sizing: border-box;
    width: 100%;
}

.header_nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding: 0;
}

.header_nav a {
    margin-right: 50px;
    text-decoration: none;
}

.user_title, .comment_title, .movie_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user_lists, .comment_lists, .movie_lists {
    padding: 0;
    margin: 0;
}

.user_lists li, 
.comment_lists li,
.movie_lists li {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.user_lists_controls .btn, 
.comment_lists_controls .btn,
.movie_lists_controls .btn {
    display: inline-block;
}